---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
---

<BaseLayout pageTitle="Nate's Astro Blog">
  <h2>You're gonna learn a lot :)</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout> 
