---
import Social from './Social.astro';
const platform = "github";
const username = "nate-78";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="instagram" username="nate_078" />
</footer>