---
---

<style>
  a {
    padding: .5rem 1rem;
    margin: 0 1rem;
  }
  a:first-of-type {
    margin-left: 0;
  }
</style>

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>